<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>mulesoft-releases</id>
          <url> https://repository.mulesoft.org/releases/</url>
		  <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
        </pluginRepository>
		
		<pluginRepository>
          <id>central</id>
          <url>https://mycapjfrog.jfrog.io/artifactory/tf-trial/workspaces/jfrog-ws1</url>
        </pluginRepository>
		
      </pluginRepositories>
    </profile>
    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>mulesoft-nexus</id>
          <name>mulesoft-nexus</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>Repository-NEW</id>
          <name>Repository</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <servers>

	    <server>
      <id>central</id>
      <username>madhu-naik.vankudothu@capgemini.com</username>
      <password>MS@deetya,sriyansh9</password>
    </server>
    <server>
      <id>release</id>
      <username>madhu-naik.vankudothu@capgemini.com</username>
      <password>MS@deetya,sriyansh9</password>
    </server>
  </servers>
</settings>
